$dark-grey: #808080;
$medium-grey: #c7c7c7;
$light-grey: #eeeeee;
$dark-purple: rgba(113, 0, 255, 0.53);
$medium-purple: #523784;
$light-purple: #766088;
$orange: #f97352;
$green: #5cb85c;
$orange-yellow: #f0ad4e;
$red: #d9534f;
$light-blue: #5bc0de;